@media(max-width:768px) {
    *{
        padding: 0;
        margin: 0;
    }
    body{
       background-color: rgb(255, 255, 255);
       color: black;
        background-size: 100vw 100vh;
        color: rgb(0, 0, 0);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 99vw;
        overflow-x:scroll;
        display: none;
    }
    h2{
        color: rgb(4, 4, 95);
        font-size: 25px;
    }
  
    #header{
        width: 100vw;
        height: 40px;
        background-color:rgb(230, 226, 226);
    }
    #header ul{
        display: flex;
       justify-content: space-between;

    }
    .icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    #icon{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
   #logo,#menubar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
   }
    #nav-bar{
        position: absolute;
        top: 0;
        display:none ;
        width: 73vw;
        height:100vh ;
        background-color:rgb(7, 7, 48);
        color: white;
        font-size: large;
        z-index: 1;

    }
    #close{
        position: absolute;
        top: 0;
        margin-left: 66vw;
        cursor: pointer;
    }
    #nav-bar a{
        text-decoration: none;
        font-size: 25px;
        color: white;
    }
    
    #nav-bar ul li{
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 20vw;
        justify-content: baseline;
        justify-items:center;
        
       
    }
    #description-header{
        margin-top: 30vh;
        overflow-x: auto;
    }
    #description-header h1{
        font-size: 40px;
        text-transform: uppercase;
        color: rgb(5, 3, 1);
        font-family: fantasy;
    }
     #description-header h5{
        font-size: 20px;
     }
     #getstarted,#getstarted1{
        width: 40vw;
        height: 30px;
        border-radius: 25px;
        color:black;
        background-color:transparent;
        margin-left: 25vw;
        font-size: 20px;
        &:hover{
            background-color: brown;
            transition: 0.5s ease-in;
        }
}

 #getstarted a{
        text-decoration: none;
        font-size: 20px;
 }

#footer{
    margin-top: 10vh;
    background-color: rgb(142, 142, 226);
    width: 100vw;
    height: fit-content;

}
#footer ul{
   display: flex;
   list-style-type:none;
   justify-content: space-between;
  
}
#profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimonial-container {
    z-index: 0;
  width: 100vw;
  height: 20vh;
  text-align: left;
  background: rgb(207, 207, 207);
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(194, 166, 166, 0.904);
  padding: 10px;
  overflow: hidden;
  position: relative;
  border: none;
}

.testimonial {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(20px);
}

.testimonial.active {
  opacity: 1;
  transform: translateY(0);
  position: relative;
}
#account{
    background-color: white;
    color: black;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   border-radius: 5px;
   box-shadow: 0ch 4px 6px orangered;
   width: 90vw;
   height: 40vh;
   margin-left: 5vw;
   margin-top: 10vh;
   text-align: center;
   margin-bottom: 10vh;
   
}
#account input{
width:80vw;
height: 40px;
padding: 5px;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid black;
cursor: pointer;

}
#jobs,#services{
    margin-top: 10vh;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 2px 2px 2px  red;
    padding: 5px;
    background-color: white;
    color: black;
    text-align: left;
}
#submits{
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 25px;
    width: 50vw;
    background-color: transparent;
    color: black;
    font-size: 20px;
    &:hover{
        background-color: rgb(215, 53, 53);
    }

}
#getmembership{
    border: 1px solid black;
    box-shadow: 1px 2px 1px rgba(158, 35, 35, 0.803);
    width: 90vw;
    height: 30vh;
    margin-left: 5vw;
    margin-top: 3vh;
    border-radius: 5px;
    text-align: left;
   
}
#accounts{
    background-color: white;
    color: black;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   border-radius: 5px;
   box-shadow: 0ch 4px 6px orangered;
   width: fit-content;
   height: fit-content;
   margin-left: 1vw;
   margin-top: 10vh;
   font-size: 10px;
}
 table, th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    
}
table{
    width: 99vw;
    height: fit-content;
    overflow-x: scroll;
}
/*styling for profile.html*/
#percentage{
    width: 40%;
    height: 30px;
    font-size: 10px;
    background-color: white;
    color: grey;
    border-radius: 25px;
    margin-left: 30%;
}
#notification-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid grey;
}
#notification-img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:none;
}
#ulist{
 display: flex;
 justify-content: space-between;
}
#ulist li{
    list-style-type: none;
}
#search{
    width: 90%;
    height: 30px;
    border-radius: 25px;
    margin-left: 5%;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
}
#joblist{
    height: 10vh;
    width: 99vw;
    border-top: 1px solid rgb(49, 49, 49);
    border-bottom: 1px solid rgb(49, 49, 49);
    display: block;


}
#explore{
    width: 30vw;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(15, 15, 155);
    color: white;
    &:hover{
        background-color: rgb(241, 120, 6);
    color: rgb(7, 7, 7);
    }
}
#joblist li{
    display: inline-block;
    gap: 5px;
    margin-top: 1px;
    text-transform: capitalize;
}
.box{
    width: 5%;
    height: 30px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.descript{
    width:80% ;
    height: fit-content;
    font-size: 15px;
    margin-top: 1px;
}
.bookmark{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 1pxs;

}
.bkimg{
     width: 20px;
    height: 20px;
    border-radius: 50%;
}

}


@media(width>768px) {
    *{
        padding: 0;
        margin: 0;
    }
    body{
       background-color: white
        background-size: 100vw 100vh;
        color: rgb(0, 0, 0);
        margin-left: 1px;
        display: none;
    }
   
   
    #nav-bar{
        width: 100vw;
        height: 30px;
        background-color:rgb(60, 60, 207);
        color: white;
        font-size: large;
       

    }
    #name1{
        margin-left: 10vw;
    }
    #close{
        display: none;
        position: absolute;
        top: 0;
        margin-left: 66vw;
    }
    #nav-bar a{
        text-decoration: none;
        font-size: 20px;
        color: white;
          &:hover{
            color: black;
        }
      
    }
    #explore{
    width: 30vw;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(15, 15, 155);
    color: white;
    &:hover{
        background-color: rgb(241, 120, 6);
    color: rgb(7, 7, 7);
    }
}
    #header{
        display: none;
    }
    #nav-bar ul{
       
    }
    #nav-bar ul li{
        list-style-type:none;
        display: inline-block;
        margin-right: 10px;
          &:hover{
            background-color: white;
        }
        
       
    }
  
    #description-header{
        margin-top: 30vh;
        overflow-x: auto;
       
    }
    #description-header h1{
        font-size: 40px;
        text-transform: uppercase;
        color: rgb(5, 3, 1);
        font-family: fantasy;
    }
     #description-header h5{
        font-size: 20px;
     }
     #getstarted{
        width: 50vw;
        height: 30px;
        border-radius: 25px;
        color: azure;
        background-color:transparent;
        color: red;
        margin-left:3px;
        font-size: 20px;
        &:hover{
            background-color: rgb(185, 171, 171);
            transition: 0.5s ease-in;
        }
}
  #getstarted1{
        width: 40vw;
        height: 40px;
        border-radius: 25px;
        color: azure;
        background-color: rgb(228, 103, 54);
        margin-left:30vw;
        font-size: 20px;
        &:hover{
            background-color: brown;
            transition: 0.5s ease-in;
        }
}

 #getstarted,#getstarted1 a{
        text-decoration: none;
        font-size: 20px;
 }
#heads{
    color: rgb(32, 29, 29);
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.testimonial-container {
  width: 100vw;
  height: 40vh;
  text-align: left;
  background: rgb(252, 250, 250);
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(70, 32, 32, 0.904);
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.testimonial {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(20px);
}

.testimonial.active {
  opacity: 1;
  transform: translateY(0);
  position: relative;
}
#footer{
    background-color: rgb(130, 130, 204);
    margin-top: 20vh;
   
}
#footer ul{
   display: flex;
   justify-content: space-between;
}
#footer li{
    list-style-type: none;

}

#icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#account{
    background-color: white;
    color: black;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   border-radius: 5px;
   box-shadow: 0ch 4px 6px orangered;
   width: 90vw;
   height: 40vh;
   margin-left: 5vw;
   margin-top: 10vh;
}
#accounts{
    background-color: white;
    color: black;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   border-radius: 5px;
   box-shadow: 0ch 4px 6px orangered;
   width: 98vw;
   height: fit-content;
   margin-left: 1vw;
   margin-top: 10vh;
   font-size: 10px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;}
    #account input{
width:80vw;
height: 40px;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid black;
cursor: pointer;
}
#submits{
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 25px;
    width: 50vw;
    background-color: transparent;
    color: black;
    font-size: 20px;
    &:hover{
        background-color: rgb(215, 53, 53);
    }

}
#getmembership{
    border: 1px solid black;
    box-shadow: 1px 2px 1px rgba(158, 35, 35, 0.803);
    width: 90vw;
    height: 30vh;
    margin-left: 5vw;
    margin-top: 3vh;
    border-radius: 5px;
    text-align: left;
   
}
#jobs,#services{
    margin-top: 10vh;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 2px 2px 2px  red;
    padding: 5px;
    background-color: white;
    color: black;
    text-align: left;
}
#ulist{
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 50px;
    height: 50px;
}
#notification-btn{
    width: 30px;
    height: 30px;
    align-content: center;
    border-radius: ;
}
#notification-img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    justify-content: space-around;
}
#search{
    width: 80vw;
    height: 30px;
    border-radius: 25px;
    margin-left: 10vw;
}
#percentage{
    width: 40vw;
    height: 20px;
    border-radius: 25px;
    margin-left: 30vw;
}
ul li{
    list-style-type: none;
}
#job{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#joblist{
    width: 20vw;
    height: 30vh;
    border-radius: 5px;
}
.box{
    width:20vw ;
    height: 10%;
    background-color: rgb(255, 60, 0);
    color: white;
}
.descrip{
    width:20vw;
    height:30vh;
    background-color: rgb(209, 212, 214);
}
.bookmark{
    width: 20vw;
    height: 10%;
    background-color: blue;
}
button{
    width: 20vw;
    height: 40px;
    background-color: rgb(15, 15, 131);
    color: white;
}

.bkimg{
     width: 20vw;
    height: 40px;
    display: none;
}}
